env:
  global:
    - CC_TEST_REPORTER_ID=147d129d98f3d606ce69bc151bbeded40dc684fe11e0f5a831f11f6b36680b22
    - SQLALCHEMY_DATABASE_URI="sqlite:///:memory:"
language: python
sudo: required
dist: xenial
python: "3.7"
services:
  - docker

env:
  - DOCKER_COMPOSE_VERSION=1.22.0

install:
  - pip install pipenv
  - pipenv install --dev

before_script:
  - sudo rm /usr/local/bin/docker-compose
  - sudo curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  - sudo ln -s /usr/local/bin/docker-compose /usr/bin/docker-compose
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - 'make bg'
  - docker ps -a
  - sleep 30

script:
  - 'make build'
  - 'make test'
  - 'make lint'

after_script:
  - coverage xml
  - docker-compose -f docker-compose.yml down
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi

