language: python
python:
  - 3.6
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install pipenv
# command to run tests
script:
  - flake8 app --statistics --count
  - pipenv shell
  - pytest
