[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==0.9.9"
"psycopg2-binary" = "==2.7.5"
"flake8" = "==3.5.0"
Flask = "==1.0.2"
Flask-Migrate = "==2.1.1"
Flask-SQLAlchemy = "==2.3.2"
SQLAlchemy = "==1.2.8"
SQLAlchemy-Utils = "==0.33.3"
PyYAML = "==3.13"
flask-pytest = "*"

[dev-packages]

[requires]
python_version = "3.7"
