[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
"psycopg2-binary" = "*"
"flake8" = "*"
Flask = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
PyYAML = "*"
flask-pytest = "*"
pytest = "*"
dataclasses = "*"
pytest-cov = "*"
coveralls = "*"

[dev-packages]

[requires]
python_version = "3.7"
