flake8==3.7.7
Flask-Limiter==1.0.1
Flask-Migrate==2.5.2
psycopg2-binary==2.8.2
pytest-cov==2.6.1
pytest-mock==1.10.1
pyyaml==5.1
requests==2.22.0
SQLAlchemy-Utils==0.33.11
prometheus_client==0.6.0
uWSGI==2.0.18
py-healthcheck==1.8.1
bandit==1.5.1
